.react_flow___node {
  /* border: 1px solid #495057 !important;
  border-radius: 10px !important;
  background-color: rgba(255, 255, 255, 0.412) !important; */
  width: 100% !important;
}

.react-flow__handle {
  padding: 3px !important;
}

div.react-flow__node.react-flow__node-source, div.react-flow__node.react-flow__node-card, div.react-flow__node-default, .react-flow__node-default, .react-flow__node-default, .react-flow__node-input, .react-flow__node-output, .react-flow__node-group, .react-flow__node-subflow {
  border: 1px solid #495057 !important;
  border-radius: 10px !important;
  background-color: rgba(255, 255, 255, 1) !important;
}

div.react-flow__resize-control {
  border-color: #495057 !important;
  border-width: 0.5px !important;
}

div.react-flow__resize-control.handle {
  background-color: #495057 !important;
  width: 8px;
  height: 8px;
}

.source-node {
  height: inherit;
}

.card-title {
  border-bottom: 1px solid #ededed;
  font-weight: 600;
  color: #000;
  padding: 5px 15px;
}

.card-title p {
  margin: 0;
}

.card-body {
  padding: 15px 15px;
  border: none;
}

.card-footer {
  padding: 15px 15px;
}

.card-body p {
  margin: 0;
}